
body{
    border: 500px;
    margin: auto;
    background-color:rgb(255, 255, 255) 

}
.mycalc{
    
    background-color:rgb(225, 225, 225);
    align-items: center;
    align-self: center;
    align-content: center;
    left: 30%;
    top: 10%;
    size: 70px;
    position: absolute;
    height: 600px;
    width: 520px;
    
}
.display{
    width: 520px;
    height: 95px;
    text-orientation: upright;
    background-color: rgb(225, 225, 225);
    border: 0ch;
    font-style: normal;
    text-align: right;
    font-size: 50px; 
    font-weight: bold;

}
.display1{
    width: 520px;
    height: 95px;
    text-orientation: upright;
    background-color: rgb(225, 225, 225);
    border: 0ch;
    font-style: normal;
    text-align: right;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.456);
    font-weight:400;

}


.all_btn{
    
    width: 520px;
    height: 10px;
    margin-top:5px ;
}
.all_btn_number{
    
    margin-top: 35px;
    width: 520px;
    height: 10px;
}

.all_btn_extra{

    width: 520px;
    height: 100px;
    }
.btn{
    width: 128px;
    height: 65px;
    margin: 1px;
    border: 0px;
    font-size: large;
    font-weight: bolder;
    font-style: normal; 
    background-color: white;       
}  
.sbtn{
    width: 128px;
    height: 65px;
    margin: 1px;
    border: 0px;
    font-size: large;
    font-weight: bolder;
    font-style: normal;   
}
#equal{
    background-color: rgba(104, 144, 223, 0.951);
    border: 2px;
    border-color: black;
}
.btn:hover{
    background-image: linear-gradient(-180deg,#7f8485f0,#f6f6f6f0 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
}

.sbtn:hover{
    background-image: linear-gradient(-180deg,#7f8485f0,#f6f6f6f0 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
}
#equal:hover{
    background-image: linear-gradient(-180deg,#025484f0,#1eb8dff0 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
}
